a {
  text-decoration: none;
  font-family: Georgia;
  color: black;
}

.header {
  margin: 0;
  width: 100vw;
  height: 15vh;
}

.title {
  font-size: 4rem;
}

.lists-right {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: -30px;
  padding-bottom: 10px;
}

.login {

}

.sign-up {
  padding: 30px;
}

.world_map {
  width: 100vw;
  position: absolute;
}

.link_maps {
  position: absolute;
  font-size: 2.8rem;
}

.link_europe {
  position: relative;
  padding: 25vh 0 0 20vh;
}

.link_azia_oceania {
  position: relative;
  padding: 15vh 0 0 60vh;
}

.link_africa {
  position: relative;
  margin: -10vh 0 0 10vh;
}

.link_northamerica {
  position: relative;
  margin: -25vh 0 0 120vh;
}

.link_southamerica {
  position: relative;
  margin: 25vh 0 0 135vh;
}

.all_description {
  display: flex;
  justify-content: center;
  padding-top: 90vh;
}

.description_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  padding: 2vh;
}

.how_to_use_title {
  font-weight: bold;
  font-size: 1.5rem;
}

.how_to_use {
  padding: 2vh;
}