a {
  text-decoration: none;
  font-family: Georgia;
  color: black;
  display: flex;
  justify-content: center;
}

.header {
  margin: 0;
  width: 100vw;
  height: 15vh;
}

.second-header {
  margin: 0;
  width: 100vw;
  height: 15vh;
  font-size: 4rem;
}

.title {
  font-size: 4rem;
}

.user-nickname {
  font-weight: bold;
  margin-right: 10px;
}

.sign-out {
  margin: 0px 10px;
}

.lists-right {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: -30px;
  padding-bottom: 10px;
}

.sign-in {
  padding-right: 10px;
}

.sign-up {
  padding: 0 30px 0 10px;
}

.sign-out {
  padding-right: 10px;
}

.world_map {
  width: 100vw;
  position: absolute;
}

.link_maps {
  position: relative;
  font-size: 2.8rem;
}

.link_europe {
  position: relative;
  position: absolute;
  margin: 200px 0px 0px 120px;
}

.link_azia_oceania {
  position: relative;
  position: absolute;
  margin: 300px 0px 0px 400px;
}

.link_africa {
  position: relative;
  position: absolute;
  margin: 360px 0px 0px 100px;
}

.link_northamerica {
  position: relative;
  position: absolute;
  margin: 200px 0px 0px 900px;
}

.link_southamerica {
  position: relative;
  position: absolute;
  margin: 500px 0px 0px 1000px;
}

.all_description {
  display: flex;
  justify-content: center;
  padding-top: 83vh;
}

.description_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  padding: 2vh;
}

.how_to_use_title {
  font-weight: bold;
  font-size: 1.5rem;
}

.how_to_use {
  padding: 2vh;
}