.registration-main {
  width: 100%;
  // min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Georgia;
  font-size: 2vw;
}

.sign-up-in-title {

  font-size: 3vw;
  font-weight: bold;
  margin: 10vh 0vw;
}

.indispensable {
  background-color: black;
  color: white;
  padding: 0px 3px 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.text-nickname{
  margin-bottom: 2vh;
}

.field-email{
  margin-bottom: 2vh;
}

.field-password{
  margin-right: -8vw;
  display: flex;
}

.password-box{
  margin-bottom: 2vh;
}

.field-password-sign-in{
  margin-bottom: 2vh;
}

.field-password-confirmation{
  margin-bottom: 2vh;
}

.collection-gender{
  margin-right: 15.5vw;
}

.select-box-gender{
  margin: 0px 13.5vw 2vh 0px;
}

.text-age{
  margin-bottom: 2vh;
  margin-right: 17.5vw;
}

.collection-nationality{
  margin-right: 12vw;
}

.select-box-nationality{
  margin: 0px 9.5vw 2vh 0px;
}

.collection-occupation{
  margin-right: 11.7vw;
}

.select-box-occupation{
  margin: 0px 5vw 2vh 0px;
}

.actions {
  margin-bottom: 20px;
}